body.day {
    background: #fff;
}

.dayNight {
    cursor: pointer;
    display: inline-block; /* Asegura que el botón tenga un tamaño específico */
}

.dayNight input {
    display: none;
}

.dayNight input+div {
    border-radius: 50%;
    width: 28px; /* Reduce el tamaño del botón */
    height: 28px; /* Reduce el tamaño del botón */
    position: relative;
    box-shadow: inset 16px -16px 0 0 #fff;
    transform: scale(1) rotate(-2deg);
    transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;
}

.dayNight input+div:before {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    left: 0;
    top: 0;
    transition: background 0.3s ease;
}

.dayNight input+div:after {
    content: "";
    width: 6px; /* Reduce el tamaño del círculo interno */
    height: 6px; /* Reduce el tamaño del círculo interno */
    border-radius: 50%;
    margin: -3px 0 0 -3px; /* Ajusta el margen para centrarlo */
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 -18px 0 #000, 0 18px 0 #000, 18px 0 0 #000, -18px 0 0 #000, 12px 12px 0 #000, -12px 12px 0 #000, 12px -12px 0 #000, -12px -12px 0 #000;
    transform: scale(0);
    transition: all 0.3s ease;
}

.dayNight input:checked+div {
    box-shadow: inset 32px -32px 0 0 #fff;
    transform: scale(0.5) rotate(0deg);
    transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s;
}

.dayNight input:checked+div:before {
    background: #000;
    transition: background 0.3s ease 0.1s;
}

.dayNight input:checked+div:after {
    transform: scale(1.5);
    transition: transform 0.5s ease 0.15s;
}
