// Variables siguiendo BEM-like para colores
$color--amarillo-oscuro: #F59E0B;
$color--amarillo-claro:  #FBBF24;
$color--azul-medio:      #3B82F6;
$color--azul-marino:     #1E40AF;
$color--azul-pastel:     #6C9AE3;
$color--blanco:          #FFFFFF;
$color--gris-claro:      #F8FAFC;
$color--negro:           #0F172A;
