@import 'colores';

.header {
  background-color: $color--azul-marino;
  color: $color--blanco;
  padding: 1rem;

  &__nav {
    display: flex;
    gap: 1rem;
  }

  &__nav-item {
    color: $color--blanco;
    text-decoration: none;

    &:hover {
      color: $color--azul-pastel;
    }
  }
}
