@import 'colores';

.main {
  padding: 2rem;
  background-color: $color--blanco;
  color: $color--negro;

  &__card {
    background-color: $color--azul-pastel;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
